@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.hero-section {
  min-height: 100dvh;
  background: url("../public/home-background.webp") center no-repeat;
  background-size: cover;
}

.layer {
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 120dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
}
.generate-section {
  min-height: 120dvh;
  background: url("../public/generate-section-background.webp") no-repeat;
}
