@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.generate-layer {
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 100dvh;
  display: flex;
  padding-top: 24px;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
.generate-section {
  min-height: 100dvh;
  background: url("../public/generate-section-background.webp") no-repeat;
}
